Options -MultiViews
RewriteEngine On

RewriteRule \.(css|jpe?g|gif|png|js|ico)$ - [L]

RewriteBase /qlbd/

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
#php_value include_path '.;C:\xampp\php\PEAR;C:\xampp\htdocs\qlbd'